<div class="hr-divider mt-5 mb-3">
  <h3 class="hr-divider-content hr-divider-heading">Add site</h3>
</div>

<%= render "form.html", changeset: @changeset,
                        action: site_path(@conn, :create) %>
