<div class="hr-divider mt-5 mb-3">
  <h3 class="hr-divider-content hr-divider-heading">Add key</h3>
</div>

<%= render "form.html", changeset: @changeset,
                        action: key_path(@conn, :create) %>
