<h2>Show key</h2>

<ul>

  <li>
    <strong>Desc:</strong>
    <%= @key.desc %>
  </li>

  <li>
    <strong>Email:</strong>
    <%= @key.email %>
  </li>

  <li>
    <strong>Fingerprint:</strong>
    <%= @key.fingerprint %>
  </li>

  <li>
    <strong>Pub:</strong>
    <pre><%= @key.pub %></pre>
  </li>

</ul>

<%= link "Edit", to: key_path(@conn, :edit, @key) %>
<%= link "Back", to: key_path(@conn, :index) %>
